<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="2" name="icsplugin" >
 <MenuBar>
  <Menu name="file">
   <Action name="connect" group="file_extensions"/>
   <Action name="disconnect" group="file_extensions"/>
  </Menu>
  <Menu name="settings">
    <Action name="configure_ics" />
  </Menu>
 </MenuBar>
 <ToolBar name="mainToolBar" >
  <Action name="connect" />
  <Action name="disconnect" />
 </ToolBar>
</gui>
