<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="2" name="kaya" >
 <MenuBar>
  <Menu name="file">
    <DefineGroup name="file_extensions" />
  </Menu>
  <Menu name="edit">
    <Action name="undo" />
    <Action name="redo" />
  </Menu>
  <Menu name="gameMenu">
   <text>&amp;Game</text>
   <Action name="begin" />
   <Action name="back" />
   <Action name="pause" />
   <Action name="forward" />
   <Action name="end" />
   <Separator />
   <DefineGroup name="game_extensions" />
   <Separator />
   <ActionList name="game_actions" />
  </Menu>
  <Menu name="viewMenu" >
   <text>&amp;View</text>
   <Action name="flip" />
   <Action name="toggle_console" />
   <Action name="toggle_history" />
  </Menu>
  <Menu name="settings">
    <Action name="preferences" />
    <Action name="configure_engines" />
  </Menu>
 </MenuBar>
 <ToolBar name="mainToolBar" >
  <Action name="connect" />
  <Action name="disconnect" />
 </ToolBar>
 <ToolBar name="gameToolbar" >
  <text>Game Toolbar</text>
  <Action name="begin" />
  <Action name="back" />
  <Action name="pause" />
  <Action name="forward" />
  <Action name="end" />
  <ActionList name="variantActions" />
 </ToolBar>
</gui>
